<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dentaku_2016.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91E1DE3C1E2A785F0067CF95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E1DE531E2A785F0067CF95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E1DE5E1E2A785F0067CF95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
